<!doctype html>
<html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PPGLD4ZTZQ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-PPGLD4ZTZQ');
  </script>
  <meta charset="utf-8">
  <title>찌콩 Recipe Book</title>
  <link rel="stylesheet" href="../../styles/reset.css">
  <link rel="stylesheet" href="../../styles/common.css">
</head>

<body>
  <div class="headline">
    <h1>Recipe Book</h1>
  </div>
  <div class="grid">
    <div class="list">
      <details>
        <summary>국/찌개</summary>
        <ul>
          <li><a href="돼지고기_김치찌개.html">돼지고기 김치찌개</a></li>
          <li><a href="꽁치_김치찌개.html">꽁치 김치찌개</a></li>
          <li><a href="카레.html" target="_blank">카레</a></li>
          <li><a href="소고기_미역국.html" target="_blank">소고기 미역국</a></li>
          <li><a href="얼큰_소고기_무국.html" target="_blank">얼큰 소고기 무국</a></li>
          <li><a href="샤브샤브_버섯_칼국수.html" target="_blank">샤브샤브 버섯 칼국수</a></li>
        </ul>
      </details>
      <details>
        <summary>볶음/조림/찜</summary>
        <ul>
          <li><a href="콩나물_불고기.html" target="_blank">콩나물 불고기</a></li>
          <li><a href="오삼새불고기.html" target="_blank">오삼새불고기</a></li>
          <li><a href="갈치조림.html" target="_blank">갈치조림</a></li>
          <li><a href="수육.html" target="_blank">수육</a></li>
          <li><a href="꽈리고추_삼겹살_볶음.html" target="_blank">꽈리고추 삼겹살 볶음</a></li>
        </ul>
      </details>
      <details>
        <summary>구이/전</summary>
        <ul>
          <li><a href="닭불고기.html" target="_blank">닭불고기</a></li>
        </ul>
      </details>
      <details>
        <summary>면</summary>
        <ul>
          <li><a href="" target="_blank">알리오올리오</a></li>
        </ul>
      </details>
      <details>
        <summary>밑반찬</summary>
        <ul>
          <li><a href="" target="_blank">부추무침</a></li>
          <li><a href="" target="_blank">미역줄기 볶음</a></li>
          <li><a href="" target="_blank">시금치 무침</a></li>
        </ul>
      </details>
    </div>
    <div class="contents">
      오늘 식사 메뉴
    </div>
  </div>
</body>

</html>