<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>꽁치 김치찌개</title>
  <link rel="stylesheet" href="../../styles/reset.css">
  <link rel="stylesheet" href="../../styles/common.css">
</head>

<body>
  <div class="headline">
    <h2><a href="../../index.html">Recipe Book</a></h2>
  </div>
  <div class="grid">
    <div class="list">
      <details>
        <summary>국/찌개</summary>
        <ul>
          <li><a href="돼지고기_김치찌개.html">돼지고기 김치찌개</a></li>
          <li><a href="꽁치_김치찌개.html">꽁치 김치찌개</a></li>
          <li><a href="카레.html">카레</a></li>
          <li><a href="소고기_미역국.html">소고기 미역국</a></li>
          <li><a href="얼큰_소고기_무국.html">얼큰 소고기 무국</a></li>
          <li><a href="샤브샤브_버섯_칼국수.html">샤브샤브 버섯 칼국수</a></li>
        </ul>
      </details>
      <details>
        <summary>볶음/조림/찜</summary>
        <ul>
          <li><a href="콩나물_불고기.html">콩나물 불고기</a></li>
          <li><a href="오삼새불고기.html">오삼새불고기</a></li>
          <li><a href="갈치조림.html">갈치조림</a></li>
          <li><a href="수육.html">수육</a></li>
          <li><a href="꽈리고추_삼겹살_볶음.html">꽈리고추 삼겹살 볶음</a></li>
        </ul>
      </details>
      <details>
        <summary>구이/전</summary>
        <ul>
          <li><a href="닭불고기.html">닭불고기</a></li>
        </ul>
      </details>
      <details>
        <summary>면</summary>
        <ul>
          <li><a href="">알리오올리오</a></li>
        </ul>
      </details>
      <details>
        <summary>밑반찬</summary>
        <ul>
          <li><a href="">부추무침</a></li>
          <li><a href="">미역줄기 볶음</a></li>
          <li><a href="">시금치 무침</a></li>
        </ul>
      </details>
    </div>
    <div class="contents">
      <h3>꽁치 김치찌개</h3>
      재료: 김치, 꽁치 통조림, 쇠고기 다시다, 간장, 소금
      <ol>
        <li>기름을 두른 팬에 김치를 넣고 투명해질때까지 볶는다.</li>
        <li>물 적당량과 꽁치 통조림을 넣고 푹 끓인다.</li>
        <li>맛을 본 뒤 모자란 간은 다시다 스틱, 간장, 소금등으로 조절한다.</li>
      </ol>
    </div>
  </div>
</body>

</html>