<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>샤브샤브 버섯 칼국수</title>
</head>
<body>
  <h2>샤브샤브 버섯 칼국수</h2>
  재료: 쇠고기 다시다 스틱 2개, 미원 0.5숟갈, 후추, 고춧가루 4숟갈, 설탕 0.5숟갈, 다진마늘 5숟갈, 된장1숟갈, 고추장2숟갈, 간장 3숟갈, 물 반컵, 육수팩, 느타리 버섯, 미나리, 청경채, 배추, 감자, 칼국수 면, 계란, 참기름, 샤브용 쇠고기
  <ol>
    <li>다시다, 미원, 후추, 고춧가루, 설탕, 다진마늘, 된장, 고추장, 간장, 물 반컵을 넣고 섞어 양념장을 만든 뒤 1~3일간 냉장고에서 숙성시킨다.</li>
    <li>물 적당량을 냄비에 넣고 육수팩을 넣어 우려낸다.</li>
    <li>육수에 감자를 먼저 넣고 조금 삶다가 양념장 절반, 버섯, 미나리, 청경채, 배추, 고기 등을 넣고 끓인다.</li>
    <li>재료들이 익으면 먹다가 칼국수면을 추가한다.</li>
    <li>남은 국물에 계란, 쫑쫑 썬 미나리, 참기름, 밥을 넣고 볶아 먹는다.</li>
  </ol>
</body>
</html>
