<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>얼큰 소고기 무국</title>
</head>
<body>
  <h2>얼큰 소고기 무국</h2>
  재료: 시래기, 양지, 무 약간, 대파, 설탕, 쇠고기 다시다, 고춧가루 3숟갈, 국간장 5숟갈, 액젓 2.5숟갈, 다진마늘 1.5숟갈, 소금, 참기름, 식용유
  <ol>
    <li>설탕 1숟갈과 시래기를 냄비에 넣고 시래기가 연해질때까지 푹 끓인다.</li>
    <li>삶아진 시래기를 채에 받쳐 식힌 뒤 물기를 짜놓는다. ※남은 시래기는 냉동 보관</li>
    <li>약불에 참기름과 파를 넣고 파기름을 낸다.</li>
    <li>양지를 넣고 함께 볶아준다.</li>
    <li>불을 끄거나 최대한 줄인 후 고춧가루를 넣고 고추기름을 낸다.</li>
    <li>물 적당량, 시래기, 무, 다시다 1스틱, 다진마늘, 국간장, 액젓, 소금을 넣고 푹 끓인다.</li>
  </ol>
</body>
</html>
