html {
  height: 100%;
}

body {
  height: 100%;
}

.grid{
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 100%;
}

.headline{
  text-align: center;
  border-bottom: solid green 2px;
}

.list{
  border-right: solid green 2px;
  width: 200px;
}
